Repository 01fe23bcs183/indietix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, organizer, admin, api, db, ui, config, utils, infra, docs

fix: resolve all 178 ESLint errors by adding proper globals and ignores
  eslint.config.js
  pnpm-lock.yaml
Labels: infra

fix: revert pnpm-lock.yaml to maintain compatibility with CI pnpm v8
  pnpm-lock.yaml
Labels: none

fix: update CI to use pnpm v9 to match lockfile version
  .github/workflows/ci.yml
  package.json
Labels: infra

chore: regenerate pnpm-lock.yaml with pnpm v10 to fix outdated lockfile
  pnpm-lock.yaml
Labels: none

fix: update CI and packageManager to pnpm v10 for consistency
  .github/workflows/ci.yml
  package.json
Labels: infra

fix: revert CI and packageManager back to pnpm v9
  .github/workflows/ci.yml
  package.json
Labels: infra

fix: resolve all 178 ESLint errors with comprehensive globals and ignores
  eslint.config.js
Labels: infra

fix: pin pnpm to 9.15.9 and resolve lockfile compatibility issues
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  package.json
  pnpm-lock.yaml
Labels: infra

docs: add progress.md and PR documentation
  PR45_FIX_RESOLVE_ALL_178_ESLINT_ERRORS.md
  progress.md
Labels: docs

feat: Add comprehensive testing infrastructure with Vitest, Jest, Playwright, and Maestro
  .github/workflows/mobile-e2e.yml
  .maestro/smoke.yml
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.js
  apps/mobile/package.json
  apps/mobile/src/lib/utils.test.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/src/__tests__/home.spec.tsx
  apps/web/vitest.setup.ts
  docs/testing.md
  package.json
  packages/db/package.json
  packages/ui/package.json
  packages/utils/src/__tests__/format.spec.ts
  pnpm-lock.yaml
  scripts/android-build.sh
  turbo.json
  vitest.config.ts
  vitest.setup.ts
Labels: web, db, ui, utils, infra, docs

fix: Format Jest configuration files to pass lint checks
  apps/mobile/jest.config.js
  apps/mobile/jest.setup.js
Labels: none

feat: Implement core data model and authentication with RBAC
  CORE_AUTH_PROGRESS.md
  CORE_PRISMA_AUTH_RBAC_DOCUMENT.md
  README.md
  apps/admin/middleware.ts
  apps/admin/next.config.js
  apps/admin/package.json
  apps/admin/src/lib/auth.ts
  apps/organizer/middleware.ts
  apps/organizer/next.config.js
  apps/organizer/package.json
  apps/organizer/src/lib/auth.ts
  apps/web/e2e/auth.spec.ts
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/auth/signup/page.tsx
  apps/web/src/lib/auth.ts
  docs/auth.md
  package.json
  packages/api/package.json
  packages/api/src/__tests__/auth.spec.ts
  packages/api/src/__tests__/rbac.spec.ts
  packages/api/src/index.ts
  packages/api/src/lib/auth.ts
  packages/api/src/routers/auth.ts
  packages/api/src/routers/events.ts
  packages/api/src/trpc.ts
  packages/db/.env.example
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  pnpm-lock.yaml
  tests/prisma-test-setup.ts
Labels: web, organizer, admin, api, db, docs

feat: Implement organizer events CRUD, attendees management, and CSV export
  apps/organizer/e2e/events.spec.ts
  apps/organizer/package.json
  apps/organizer/playwright.config.ts
  apps/organizer/src/app/(dashboard)/events/[id]/attendees/page.tsx
  apps/organizer/src/app/(dashboard)/events/[id]/page.tsx
  apps/organizer/src/app/(dashboard)/events/new/page.tsx
  apps/organizer/src/app/(dashboard)/events/page.tsx
  apps/organizer/src/app/api/trpc/[trpc]/route.ts
  apps/organizer/src/app/layout.tsx
  apps/organizer/src/lib/trpc-provider.tsx
  apps/organizer/src/lib/trpc.ts
  apps/organizer/vitest.config.ts
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/routers/organizer/attendees.ts
  packages/api/src/routers/organizer/events.ts
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  pnpm-lock.yaml
Labels: organizer, api, db

fix: Apply prettier formatting to organizer routers and seed file
  packages/api/src/routers/organizer/attendees.ts
  packages/api/src/routers/organizer/events.ts
  packages/db/prisma/seed.ts
Labels: api, db

fix: Apply prettier formatting to all organizer and web files
  apps/organizer/next.config.js
  apps/organizer/src/app/(dashboard)/events/[id]/attendees/page.tsx
  apps/organizer/src/app/(dashboard)/events/[id]/page.tsx
  apps/organizer/src/app/(dashboard)/events/new/page.tsx
  apps/organizer/src/app/(dashboard)/events/page.tsx
  apps/organizer/src/lib/auth.ts
  apps/web/next.config.js
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/auth/signup/page.tsx
  apps/web/src/lib/auth.ts
  packages/api/src/routers/events.ts
Labels: web, organizer, api

chore: Apply prettier formatting to admin and organizer e2e files
  apps/admin/next.config.js
  apps/admin/src/lib/auth.ts
  apps/organizer/e2e/events.spec.ts
Labels: organizer, admin

feat: Add web discovery pages with transparent fee breakdown
  apps/web/e2e/events.spec.ts
  apps/web/src/app/events/[slug]/page.tsx
  apps/web/src/app/events/page.tsx
  docs/pricing.md
  packages/api/src/index.ts
  packages/api/src/routers/search.ts
  packages/db/prisma/seed.ts
  packages/ui/src/components/price-breakdown.tsx
  packages/ui/src/index.ts
  packages/utils/src/__tests__/pricing.spec.ts
  packages/utils/src/format.ts
  packages/utils/src/index.ts
  packages/utils/src/pricing.ts
Labels: web, api, db, ui, utils, docs

feat: Implement booking core with Razorpay payment orchestration
  .github/workflows/cron-holds.yml
  apps/web/e2e/booking.spec.ts
  apps/web/src/app/api/cron/holds/route.ts
  apps/web/src/app/api/webhooks/razorpay/route.ts
  apps/web/src/app/checkout/[bookingId]/page.tsx
  docs/booking.md
  packages/api/src/__tests__/booking.spec.ts
  packages/api/src/index.ts
  packages/api/src/routers/booking.ts
  packages/api/src/routers/organizer/attendees.ts
  packages/db/prisma/migrations/20251101131929_add_booking_core_fields/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  packages/payments/.eslintrc.json
  packages/payments/package.json
  packages/payments/src/fake.ts
  packages/payments/src/index.ts
  packages/payments/src/razorpay.ts
  packages/payments/src/types.ts
  packages/payments/tsconfig.json
  packages/utils/src/__tests__/booking-pricing.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/pricing.ts
  pnpm-lock.yaml
Labels: web, api, db, utils, infra, docs

test(web): fix prettier formatting in booking e2e spec
  apps/web/e2e/booking.spec.ts
Labels: web

test(web): fix unused page parameters in booking e2e spec
  apps/web/e2e/booking.spec.ts
Labels: web

test(web): remove unused page parameters from placeholder e2e tests
  apps/web/e2e/booking.spec.ts
Labels: web

test(web): fix prettier formatting in events e2e spec
  apps/web/e2e/events.spec.ts
Labels: web

feat: Implement ticket generation with QR codes and organizer scanner
  apps/mobile/package.json
  apps/mobile/utils/TicketCache.ts
  apps/organizer/e2e/scanner.spec.ts
  apps/organizer/package.json
  apps/organizer/public/sw.js
  apps/organizer/src/app/(dashboard)/scanner/page.tsx
  apps/web/e2e/tickets.spec.ts
  apps/web/package.json
  apps/web/src/app/api/checkin/scan/route.ts
  apps/web/src/app/api/cron/holds/route.ts
  apps/web/src/app/api/tickets/[bookingId]/route.ts
  apps/web/src/app/bookings/[id]/page.tsx
  docs/tickets.md
  packages/api/src/routers/booking.ts
  packages/db/package.json
  packages/db/prisma/migrations/20251101142000_add_ticket_fields_and_scanlog/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  packages/utils/src/__tests__/ticket.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/ticket.ts
  pnpm-lock.yaml
Labels: web, organizer, api, db, utils, docs

fix: Update ESLint config to properly ignore build artifacts and fix lint errors
  apps/mobile/utils/TicketCache.ts
  apps/organizer/e2e/scanner.spec.ts
  apps/organizer/src/app/(dashboard)/scanner/page.tsx
  apps/web/src/app/api/checkin/scan/route.ts
  apps/web/src/app/api/tickets/[bookingId]/route.ts
  apps/web/src/app/bookings/[id]/page.tsx
  eslint.config.js
  packages/api/src/routers/booking.ts
  packages/db/prisma/seed.ts
Labels: web, organizer, api, db, infra

feat: Implement cancellations, refunds, and waitlist with policy-driven refunds
  .github/workflows/cron-waitlist.yml
  apps/organizer/src/app/(dashboard)/events/[id]/attendees/page.tsx
  apps/organizer/src/app/(dashboard)/events/page.tsx
  apps/web/src/app/api/cron/holds/route.ts
  apps/web/src/app/api/cron/waitlist/route.ts
  apps/web/src/app/api/webhooks/razorpay/route.ts
  apps/web/src/app/offers/[offerId]/page.tsx
  docs/refunds.md
  docs/waitlist.md
  packages/api/src/index.ts
  packages/api/src/lib/waitlist.ts
  packages/api/src/routers/booking.ts
  packages/api/src/routers/organizer/attendees.ts
  packages/api/src/routers/waitlist.ts
  packages/db/prisma/schema.prisma
  packages/payments/src/fake.ts
  packages/payments/src/razorpay.ts
  packages/payments/src/types.ts
  packages/utils/src/__tests__/refund.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/refund.ts
Labels: web, organizer, api, db, utils, infra, docs

fix: Apply Prettier formatting and fix ESLint errors
  apps/organizer/src/app/(dashboard)/events/[id]/attendees/page.tsx
  apps/organizer/src/app/(dashboard)/events/page.tsx
  apps/web/src/app/api/cron/holds/route.ts
  apps/web/src/app/offers/[offerId]/page.tsx
  packages/api/src/lib/waitlist.ts
  packages/api/src/routers/booking.ts
  packages/api/src/routers/organizer/attendees.ts
  packages/payments/src/razorpay.ts
  packages/utils/src/refund.ts
Labels: web, organizer, api, utils

fix: Use Prisma.TransactionClient type from @indietix/db for transaction callbacks
  apps/web/src/app/api/webhooks/razorpay/route.ts
  packages/api/src/lib/waitlist.ts
  packages/api/src/routers/booking.ts
  packages/api/src/routers/waitlist.ts
Labels: web, api

feat: Add Organizer Analytics v1 with tRPC API, dashboard UI, and event tracking
  apps/organizer/e2e/analytics.spec.ts
  apps/organizer/package.json
  apps/organizer/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/api/track/event-view/route.ts
  apps/web/src/app/events/[slug]/page.tsx
  docs/analytics.md
  packages/api/src/__tests__/analytics.spec.ts
  packages/api/src/index.ts
  packages/api/src/routers/organizer/analytics.ts
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  pnpm-lock.yaml
Labels: web, organizer, api, db, docs

chore: fix prettier/eslint formatting
  apps/organizer/e2e/analytics.spec.ts
  apps/organizer/src/app/(dashboard)/analytics/page.tsx
  apps/web/src/app/api/track/event-view/route.ts
  packages/api/src/__tests__/analytics.spec.ts
  packages/api/src/routers/organizer/analytics.ts
  packages/db/prisma/seed.ts
Labels: web, organizer, api, db

fix: Resolve lint and formatting errors
  .gitignore
  apps/admin/e2e/payouts.spec.ts
  apps/admin/src/app/payouts/page.tsx
  apps/organizer/e2e/payouts.spec.ts
  apps/organizer/public/sw.js
  apps/organizer/src/app/(dashboard)/payouts/page.tsx
  packages/api/src/routers/payouts.ts
  packages/utils/src/payout.ts
Labels: organizer, admin, api, utils

fix: Replace any types with proper DTO types to pass strict ESLint
  apps/web/src/app/api/cron/payouts/route.ts
  packages/api/src/routers/payouts.ts
  packages/utils/src/__tests__/payout.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/payout.ts
Labels: web, api, utils

fix: Resolve lint and prettier formatting errors
  apps/admin/e2e/admin.spec.ts
  apps/admin/src/app/(dashboard)/dashboard/page.tsx
  apps/admin/src/app/(dashboard)/events/page.tsx
  apps/admin/src/app/(dashboard)/organizers/page.tsx
  apps/admin/src/app/(dashboard)/settings/page.tsx
  apps/admin/src/app/(dashboard)/transactions/page.tsx
  apps/admin/src/app/(dashboard)/users/page.tsx
  apps/admin/src/app/auth/signin/page.tsx
  packages/api/src/__tests__/admin-commission.spec.ts
  packages/api/src/__tests__/admin-rbac.spec.ts
  packages/api/src/__tests__/admin-settings.spec.ts
  packages/api/src/routers/admin/dashboard.ts
  packages/api/src/routers/admin/events.ts
  packages/api/src/routers/admin/settings.ts
  packages/ui/src/components/card.tsx
Labels: admin, api, ui

fix: Resolve CI lint warnings by adding eslint-disable comments for any types
  packages/api/src/__tests__/admin-commission.spec.ts
  packages/api/src/__tests__/admin-rbac.spec.ts
  packages/api/src/__tests__/admin-settings.spec.ts
  packages/api/src/routers/admin/events.ts
  packages/api/src/routers/admin/transactions.ts
  packages/api/src/routers/admin/users.ts
  packages/utils/src/pricing.ts
Labels: api, utils

fix: Apply prettier formatting to admin-settings.spec.ts
  packages/api/src/__tests__/admin-settings.spec.ts
Labels: api

fix: Resolve all lint errors for CI
  apps/admin/e2e/notifications.spec.ts
  apps/admin/src/app/(dashboard)/notifications/preview/page.tsx
  apps/web/e2e/notifications.spec.ts
  apps/web/src/app/profile/notifications/page.tsx
  packages/db/prisma/seed.ts
  packages/notify/.eslintrc.json
  packages/notify/src/providers/email.resend.ts
  packages/notify/src/providers/push.expo.ts
  packages/notify/src/providers/sms.twilio.ts
  packages/notify/src/send.ts
  packages/notify/src/templates/email/index.ts
  packages/notify/src/templates/push/index.ts
  packages/notify/src/templates/sms/index.ts
  packages/notify/src/types.ts
Labels: web, admin, db

fix: Point package types to src for typecheck-before-build compatibility
  packages/db/package.json
  packages/notify/package.json
  packages/notify/src/templates/email/index.ts
  packages/notify/src/templates/push/index.ts
  packages/notify/src/templates/sms/index.ts
Labels: db

fix: Replace any type with Prisma.InputJsonValue to eliminate lint warnings
  packages/notify/src/send.ts
Labels: none

docs: Initialize marketing tooling implementation tracking
  marketing_tooling_DOCUMENT.md
  progress.md
Labels: docs

feat: Add marketing schema models (PromoCode, EventPricePhase, Campaign, Segment, CampaignRecipient)
  marketing_tooling_DOCUMENT.md
  packages/db/prisma/schema.prisma
  progress.md
Labels: db, docs

feat: Add discount and price phase utility functions
  packages/utils/src/discounts.ts
Labels: utils

.github/labeler.yml:

# Auto-labeler configuration for IndieTix
# Automatically applies labels to PRs based on changed files

web:
  - apps/web/**/*

organizer:
  - apps/organizer/**/*

admin:
  - apps/admin/**/*

api:
  - packages/api/**/*

db:
  - packages/db/**/*

ui:
  - packages/ui/**/*

config:
  - packages/config/**/*

utils:
  - packages/utils/**/*

infra:
  - .github/**/*
  - turbo.json
  - pnpm-workspace.yaml
  - "*.config.js"
  - "*.config.ts"

docs:
  - docs/**/*
  - "**/*.md"
