Repository 01fe23bcs183/indietix, changes with the labels that .github/labeler.yml gives for each.
All labels: web, organizer, admin, api, db, ui, config, utils, infra, docs

feat: Export discount utilities from utils package
  packages/utils/src/index.ts
Labels: utils

feat: Create marketing package with segment query engine
  packages/marketing/package.json
  packages/marketing/src/index.ts
  packages/marketing/src/segments.ts
  packages/marketing/tsconfig.json
Labels: none

feat: Implement promo code API router with CRUD and validation
  packages/api/src/routers/promos.ts
  progress.md
Labels: api, docs

feat: Implement pricing, segments, and campaigns API routers
  packages/api/src/routers/campaigns.ts
  packages/api/src/routers/pricing.ts
  packages/api/src/routers/segments.ts
Labels: api

feat: Integrate marketing routers into main API
  packages/api/src/index.ts
Labels: api

feat: Add campaign tracking routes (open pixel and click redirect)
  apps/web/src/app/api/trk/c/route.ts
  apps/web/src/app/api/trk/open/route.ts
Labels: web

docs: Update progress tracker to 40% complete
  progress.md
Labels: docs

docs: Add comprehensive marketing tooling documentation
  docs/marketing.md
Labels: docs

fix: Add build script to marketing package and fix TypeScript errors
  .turbo/cookies/30.cookie
  .turbo/cookies/31.cookie
  .turbo/cookies/32.cookie
  packages/api/src/routers/promos.ts
  packages/api/src/routers/segments.ts
  packages/marketing/package.json
  packages/marketing/tsconfig.json
  pnpm-lock.yaml
Labels: api

fix: Add marketing package dependency and fix TypeScript type errors
  packages/api/package.json
  packages/api/src/routers/campaigns.ts
  pnpm-lock.yaml
Labels: api

fix: Simplify Prisma type in segment query functions
  packages/marketing/src/segments.ts
Labels: none

fix: Add type annotations to segment query map functions
  packages/marketing/src/segments.ts
Labels: none

fix: Add type annotation to first map function in executeSegmentQuery
  packages/marketing/src/segments.ts
Labels: none

chore: Update service worker (auto-generated)
  apps/organizer/public/sw.js
Labels: organizer

fix: Resolve TypeScript type errors in marketing package
  .github/workflows/ci.yml
  .github/workflows/mobile-e2e.yml
  CORE_AUTH_PROGRESS.md
  CORE_PRISMA_AUTH_RBAC_DOCUMENT.md
  PR45_FIX_RESOLVE_ALL_178_ESLINT_ERRORS.md
  README.md
  apps/web/src/app/api/trk/c/route.ts
  apps/web/src/app/api/trk/open/route.ts
  docs/admin.md
  docs/analytics.md
  docs/auth.md
  docs/booking.md
  docs/marketing.md
  docs/notifications.md
  docs/payouts.md
  docs/pricing.md
  docs/refunds.md
  docs/testing.md
  docs/tickets.md
  docs/waitlist.md
  marketing_tooling_DOCUMENT.md
  packages/api/src/routers/campaigns.ts
  packages/api/src/routers/promos.ts
  packages/api/src/routers/segments.ts
  packages/marketing/src/segments.ts
  packages/utils/src/discounts.ts
  packages/utils/src/index.ts
  payouts_engine_document.md
Labels: web, api, utils, infra, docs

fix: Add Postgres service and database seeding to CI workflow
  .github/workflows/ci.yml
  marketing_tooling_DOCUMENT.md
  packages/db/package.json
Labels: db, infra, docs

fix: Remove hardcoded password from CI workflow
  .github/workflows/ci.yml
Labels: infra

fix: Add @indietix/utils dependency to db package for seed script
  .github/workflows/ci.yml
  packages/db/package.json
  pnpm-lock.yaml
Labels: db, infra

fix: Add required fields to booking creation in seed script
  packages/db/prisma/seed.ts
Labels: db

feat: Implement comprehensive marketing tooling with promos, price phases, campaigns, and tracking
  apps/web/src/app/api/trk/c/route.ts
  apps/web/src/app/api/trk/open/route.ts
  docs/marketing.md
  marketing_tooling_DOCUMENT.md
  packages/api/src/index.ts
  packages/api/src/routers/campaigns.ts
  packages/api/src/routers/pricing.ts
  packages/api/src/routers/promos.ts
  packages/api/src/routers/segments.ts
  packages/db/prisma/migrations/20251102052659_add_marketing_tooling_models/migration.sql
  packages/db/prisma/schema.prisma
  packages/marketing/package.json
  packages/marketing/src/__tests__/segments.spec.ts
  packages/marketing/src/index.ts
  packages/marketing/src/segments.ts
  packages/marketing/tsconfig.json
  packages/marketing/vitest.config.ts
  packages/utils/package.json
  packages/utils/src/__tests__/discounts.spec.ts
  packages/utils/src/__tests__/pricing-discounts.spec.ts
  packages/utils/src/discounts.ts
  packages/utils/src/index.ts
  packages/utils/src/pricing.ts
  pnpm-lock.yaml
  progress.md
Labels: web, api, db, utils, docs

chore(lint): fix unused variables and apply prettier formatting
  packages/api/src/routers/pricing.ts
  packages/api/src/routers/segments.ts
  packages/marketing/src/__tests__/segments.spec.ts
  packages/marketing/src/segments.ts
  packages/utils/src/__tests__/discounts.spec.ts
  packages/utils/src/discounts.ts
Labels: api, utils

feat(ui): Add promo code management UI and checkout integration
  apps/organizer/src/app/(dashboard)/promos/[id]/edit/page.tsx
  apps/organizer/src/app/(dashboard)/promos/[id]/page.tsx
  apps/organizer/src/app/(dashboard)/promos/new/page.tsx
  apps/organizer/src/app/(dashboard)/promos/page.tsx
  apps/web/src/app/checkout/[bookingId]/page.tsx
Labels: web, organizer

feat(ui): Add campaign management UI
  apps/organizer/src/app/(dashboard)/campaigns/[id]/page.tsx
  apps/organizer/src/app/(dashboard)/campaigns/new/page.tsx
  apps/organizer/src/app/(dashboard)/campaigns/page.tsx
Labels: organizer

feat(ui): Add price phase display to event detail page
  apps/web/src/app/events/[slug]/page.tsx
Labels: web

fix: Resolve all lint errors in marketing UI
  apps/organizer/src/app/(dashboard)/campaigns/[id]/page.tsx
  apps/organizer/src/app/(dashboard)/promos/[id]/edit/page.tsx
  apps/organizer/src/app/(dashboard)/promos/[id]/page.tsx
  apps/organizer/src/app/(dashboard)/promos/new/page.tsx
  apps/organizer/src/app/(dashboard)/promos/page.tsx
  apps/web/src/app/checkout/[bookingId]/page.tsx
Labels: web, organizer

fix: Use fetch API for promo validation instead of useMutation
  apps/web/src/app/checkout/[bookingId]/page.tsx
Labels: web

fix: Add eventId and seats to booking.poll return for promo validation
  apps/web/src/app/checkout/[bookingId]/page.tsx
  packages/api/src/routers/booking.ts
Labels: web, api

fix: Add price field to booking.poll event selection
  packages/api/src/routers/booking.ts
Labels: api

fix: Use correct field name effectivePrice.effectivePrice in event detail page
  apps/web/src/app/events/[slug]/page.tsx
Labels: web

fix: Use correct field name campaign.metrics instead of campaign.stats
  apps/organizer/src/app/(dashboard)/campaigns/[id]/page.tsx
Labels: organizer

fix: Update campaign metrics field names to match API response
  apps/organizer/src/app/(dashboard)/campaigns/[id]/page.tsx
Labels: organizer

fix: Convert channel value to uppercase in campaign creation form
  apps/organizer/src/app/(dashboard)/campaigns/new/page.tsx
Labels: organizer

fix: Ensure segmentId is provided in campaign creation form
  apps/organizer/src/app/(dashboard)/campaigns/new/page.tsx
Labels: organizer

fix: Add explicit type annotation to segments mapping
  apps/organizer/src/app/(dashboard)/campaigns/new/page.tsx
Labels: organizer

fix: Remove immutable fields from promo update mutation
  apps/organizer/src/app/(dashboard)/promos/[id]/edit/page.tsx
Labels: organizer

fix: Remove parameters from promo list query (API doesn't accept them)
  apps/organizer/src/app/(dashboard)/promos/page.tsx
Labels: organizer

fix: Use data array directly (API returns array, not object with promos property)
  apps/organizer/src/app/(dashboard)/promos/page.tsx
Labels: organizer

fix: Remove unused page state variables from promo listing
  apps/organizer/src/app/(dashboard)/promos/page.tsx
Labels: organizer

.github/labeler.yml:

# Auto-labeler configuration for IndieTix
# Automatically applies labels to PRs based on changed files

web:
  - apps/web/**/*

organizer:
  - apps/organizer/**/*

admin:
  - apps/admin/**/*

api:
  - packages/api/**/*

db:
  - packages/db/**/*

ui:
  - packages/ui/**/*

config:
  - packages/config/**/*

utils:
  - packages/utils/**/*

infra:
  - .github/**/*
  - turbo.json
  - pnpm-workspace.yaml
  - "*.config.js"
  - "*.config.ts"

docs:
  - docs/**/*
  - "**/*.md"
